@import url('./styles.css');

.hero--increment-btn,
.hero--save-btn,
.hero--reset-btn {
    transition: .3s ease;
}

.hero--increment-btn:hover,
.hero--save-btn:hover,
.hero--reset-btn:hover {
    background-color: red;
    color: #FFFFFF;
}

.hero--increment-btn:active,
.hero--save-btn:active,
.hero--reset-btn:active {
    background-color: yellow;
}